<body>
  <header class="index_header">
    <h1>Bookers</h1>
    <%# フラッシュメッセージ %>
    <% flash.each do |message_type, message| %>
        <div class="color_succsess <%= message_type %>"><%= message %></div>
    <% end %>
  </header>
  <main class="share_main">
    <h3>Show Book</h3>
    <div class="show_div">

      <div class="show_content">
        <h4>Title:</h4>
        <h4>Body:</h4>
      </div>

      <div class="show_content">
        <p><%= @book.title %></p>
        <p><%= @book.body %></p>
      </div>
    </div>

    <%# index or edit へ画面遷移 %>
    <div class="show_div_link">
      <%= link_to "Edit",edit_book_path(@book.id) %>
      <%= link_to "Back", books_path %>
    </div>
  </main>
</body>